<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsxHkGs5Z5K6oG96PNvRw5Wdl8K7J9jn0</string>
	<key>GCM_SENDER_ID</key>
	<string>537975076496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raqeeb</string>
	<key>PROJECT_ID</key>
	<string>raqeeb-46b04</string>
	<key>STORAGE_BUCKET</key>
	<string>raqeeb-46b04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537975076496:ios:0406cf7bb0e5b536710a15</string>
</dict>
</plist>